<center><h1>All posts on the site</h1>

There is a total of <%= Article.count %> articles with <%=Comment.count%> comments!<br/>
<form class="c-flex" role="search" action="/allsearch">
  <input class="form-control me-2" type="search" placeholder="Search" aria-label="query", name="allquery" >
  <button class="btn btn-outline-success" type="submit">Search</button>
</form>
</center> 
<%@articles.each do |article| %>
  <center>
  <div class="card border-dark" style="width: 60rem;">
    <div class="card-body">
      <h5 class="card-header"><%=article.title%></h5>
      <h6 class="card-body">By <%=article.author%></h6> 
      <p class="card-text">
      <%if article.body.length > 300%>
        <body><%=article.body.truncate(500)%></body>
      <%else%>
        <body><%=article.body%></body></p>
      <%end%>
      <a href="articles/<%=article.id%>" class="btn btn-primary">Read More</a>
    </div>
  </div>
  </br>
  </center>
<% end %>