<center><h1>Search Results for </br>"<%=params[:allquery]%>"</h1>

<%results = Article.search(params[:allquery])%>

<%=results.total_count %> posts were found in <%=results.took%> milliseconds!</br>

</br>

<% if results.total_count == 0 then %>
    <h1>No articles match that query!</h1></br><a href="/admin" class="btn btn-primary btn-lg">Return To Admin</a>
<% end %>
</center>
<% results.each do |article| %>
  <center>
  <div class="card border-dark" style="width: 60rem;">
    <div class="card-body">
      <h5 class="card-header"><%=article.title%></h5>
      <h6 class="card-body">By <%=article.author%></h6>
      <p class="card-text">
      <%if article.body.length > 300%>
        <body><%=article.body.truncate(500)%></body>
      <%else%>
        <body><%=article.body%></body></p>
      <%end%>
      <a href="articles/<%=article.id%>" class="btn btn-primary">Read More</a>
    </div>
  </div>
  </br>
  </center>
<% end %>

