<% content_for(:html_title) { 'Home' } %>
<center><h1>Callum's great blog website</h1>
This blog has <%= Article.public_count %> articles available with <%=Comment.public_count%> comments!<br/>


<a href="articles/new" class="btn btn-primary btn-lg">New post</a></center></br>

<%@articles.each do |article| %>
    <% unless article.archived? or article.private?%>
  <center>
  <div class="card border-dark" style="width: 60rem;">
    <div class="card-body">
      <h5 class="card-header"><%=article.title%></h5>
      <h6 class="card-body">By <%=article.author%></h6> 
      <p class="card-text">
      <%if article.body.length > 300%>
        <body><%=article.body.truncate(500)%></body>
      <%else%>
        <body><%=article.body%></body></p>
      <%end%>
      <a href="articles/<%=article.id%>" class="btn btn-primary">Read More</a>
    </div>
  </div>
  </br>
  </center>
  <% end %>
<% end %>