<center><h1>Callum's great blog website</h1></center>

<center>This blog has <%= Article.public_count %> articles available with <%=Comment.public_count%> comments!<br/></center>
<center><a href="articles/new">
    <button type="button" class="btn btn-primary btn-lg">New post</button>
</a></center>

<%@articles.each do |article| %>
    <% unless article.archived? or article.private?%>
  <center>
  <div class="card" style="width: 60rem;">
    <div class="card-body">
      <div class="CoolTitle"> <h5 class="card-title"><%=article.title%></h5> </div>
      </br>
      <h6 class="card-subtitle mb-2 text-body-secondary"><%=article.author%></h6>
      <p class="card-text">
      <%if article.body.length > 300%>
        <body><%=article.body.truncate(500)%></body>
      <%else%>
        <body><%=article.body%></body></p>
      <%end%>
      <%=link_to "Read More", article%> 
    </div>
  </div>
  </br>
  </center>
  <% end %>
<% end %>