<center><h1>Callum's great blog website</h1></center>

<center>This blog has <%= Article.public_count %> articles available with <%=Comment.public_count%> comments!<br/></center>
<center><a href="articles/new">
    <button type="button" class="btn btn-primary btn-lg">New post</button>
</a></center>

<%@articles.each do |article| %>
    <% unless article.archived? or article.private?%>
    <div class="Article">
      <h2><%=link_to article.title, article%> </h2>
      <h4>By <%= article.author %> </h4>
      <%if article.body.length > 300%>
        <body><%=article.body.truncate(500)%></body>
      <%else%>
        <body><%=article.body%></body>
      <%end%>
    </div>
    </br>
  <% end %>
<% end %>
