<center><h1>Search Results</h1></center>

<%results = Article.search(params[:query])%>
<center>

<%count = results.total_count%>

<% results.each do |article| %>
    <%if article.private?%>
        <%count = count - 1%>
    <%end%>
<%end%>

<%=count %> posts were found in <%=results.took%> milliseconds!</br>
</center>
</br>

<% if count == 0 then %>
    <center><h1>No posts match that query!</h1></center>
<% end %>

<% results.each do |article| %>
    <% unless article.private?%>
  <center>
  <div class="card border-dark" style="width: 60rem;">
    <div class="card-body">
      <h5 class="card-header"><%=article.title%></h5>
      <h6 class="card-body">By <%=article.author%></h6>
      <p class="card-text">
      <%if article.body.length > 300%>
        <body><%=article.body.truncate(500)%></body>
      <%else%>
        <body><%=article.body%></body></p>
      <%end%>
      <a href="articles/<%=article.id%>" class="btn btn-primary">Read More</a>
    </div>
  </div>
  </br>
  </center>
  <% end %>
<% end %>

