<center><h1><%=@article.title %></h1>
<body>By</body> <i><%= @article.author %></i>
<p><%=@article.body%></p>
<%unless @article.archived?%>
  <%= button_to "Edit", edit_article_path(@article), :method => "get" %>
  <%= button_to "Destroy", article_path(@article),
                    method: :delete,
                    data: {confirm: "Are you sure?"}
                  %>
<%end%>
<%if @article.archived?%>
  <%= button_to "Unarchive", edit_article_path(@article), :method => "get" %>
<%end%>
<h2>Comments</h2>
<%if @article.comments.empty?%>
  <p>Nobody has commented yet!</p>
<%else%>
  <%= render @article.comments %>
<%end%>
<%unless @article.archived?%>
  <h1>Add a comment</h1>
  <%= render 'comments/form' %>
<%end%>
</center>