<% content_for(:html_title) { 'Admin' } %>

<h1>Admin Panel</h1>
‎ There are currently a total of <%= Article.real_count%> posts on the site and <%= Comment.real_count%> comments. </br>
‎ <%= Article.public_count%> posts are public</br>
‎ <%= Article.archived_count%> posts are archived</br>
‎ <%= Article.private_count%> posts are privated</br>

<div class="btn-group">
  <a href="all" class="btn btn-primary">View All Posts</a>
  <a href="archive" class="btn btn-primary">View Archived posts</a>
  <a href="private" class="btn btn-primary">View Privated Posts</a>
</div>