<h1>Admin Panel</h1>
There are currently a total of <%= Article.real_count%> posts on the site and <%= Comment.real_count%> comments. </br>
<%= Article.public_count%> posts are public</br>
<%= Article.archived_count%> posts are archived</br>
<%= Article.private_count%> posts are privated</br>
<a href="archive">
    <button type="button" class="btn btn-primary btn-sm">View Archived Posts</button>
</a>
<a href="private">
    <button type="button" class="btn btn-primary btn-sm">View Privated Posts</button>
</a>
<a href="formtest">
    <button type="button" class="btn btn-primary btn-sm">View test form</button>
</a>